.container{
    display: grid;
    justify-items: center;
    margin: 30px 0px;
}

.frame{
    display: grid;
    border: 2px solid gray;
    border-radius: 10px;
    padding: 20px 10px;
    text-align: center;
    justify-items: center;
}

.title{
    font-size: 2rem;
}


.form-el{
    padding: 10px;
    font-size: 1.5rem;
}